{#chat.html#}
{% extends "base.html" %}

{% block title %}
    Chat
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">

    <div class="chat-container">
        <div class="chat-select">
            <div class="new-chat" id="newChatButton">New Chat</div>
            <ul>
                <li class="active">Chat 1</li>
                <li>Chat 2</li>
                <li>Chat 3</li>
            </ul>
        </div>
        <div class="chat-content">
            <div class="chat-history">
                <p>please click "newChat button to create a chat"</p>
            </div>
            <div class="chat-input-container">
                <textarea class="chat-input" placeholder="Type your message here..."></textarea>
                <button class="send-btn" id="send-btn">Send</button>
            </div>
        </div>
    </div>
{% endblock %}
