{% extends "base.html" %}

{% block title %}
DND
{% endblock %}

{% block heading %}
DND
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dnd.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="chat-container">
    <button class="start-play-btn">Start Play</button>
    <div class="chat-history" id="chat-history">
        <!-- 聊天记录将在这里显示 -->
    </div>
    <div class="chat-input-container">
        <input class="chat-input" id="chat-input" type="text" placeholder="Enter your message...">
        <button class="send-btn" id="send-btn">Send</button>
    </div>
</div>
<script src="{{ url_for('static', filename='dnd.js') }}"></script>
{% endblock %}
