{#index.html#}
{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

    <div style="position: relative; margin-top: -20px;">
        <img src="{{ url_for('static', filename='images/ai.jpg') }}" alt="AI Image">
        <div style="position: absolute; top: 30%; left: 25%; background-color: rgba(225, 225, 225, 0.9);">
            <h3 class="header">AI Innovation Hub</h3>
            <p class="header">Embrace the Future with Our Advanced AI Playground</p>
        </div>
    </div>

    <div style="position: relative;">
        <a href="{{ url_for('longtextProcess') }}">
            <img src="{{ url_for('static', filename='images/book.jpg') }}" alt="books">
            <div style="position: absolute; top: 45%; left: 25%; background-color: rgba(250, 205, 136, 0.7);">
                <h3>Purify</h3>
                <p>uploading a txt file, trimming excess content, <br>
                    crafting engaging summaries to empower your narratives.</p>
            </div>
        </a>
    </div>

    <div style="position: relative;">
        <a href="{{ url_for('chat') }}">
            <img src="{{ url_for('static', filename='images/talk.jpg') }}" alt="talk">
            <div style="position: absolute; top: 45%; left: 25%; background-color: rgba(120, 120, 120, 0.8);">
                <h3 style="color: white">ChatOracle</h3>
                <p style="color: white">personal AI confidante, ready to answer your questions,<br>
                    provide advice, and satisfy your curiosity.</p>
            </div>
        </a>
    </div>

    <div style="position: relative;">
        <a href="{{ url_for('dnd') }}">
            <img src="{{ url_for('static', filename='images/dnd.jpg') }}" alt="Purify">
            <div style="position: absolute; top: 45%; left: 25%; background-color: rgba(224, 133, 96, 0.8);">
                <h3 style="color: rgba(252, 242, 229, 1)">AdventureCraft</h3>
                <p>Unleash your inner adventurer,<br> Step into the exhilarating world of Dungeons & Dragons,<br>
                    create an epic tale. </p>
            </div>
        </a>
    </div>

{% endblock %}
