<!doctype html>
<html>
  <head>
    <title>注册</title>
  </head>
  <body>
    <h1>注册</h1>
    <form action="{{ url_for('register') }}" method="post">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label }}<br>
        {{ form.username(size=20) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </div>
      <div>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </div>
      <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=20) }}<br>
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </div>
      <div>
        {{ form.submit() }}
      </div>
    </form>
    <p>已有账号？<a href="{{ url_for('login') }}">登录</a></p>
  </body>
</html>
